<ion-content >
  <app-header title="PeliApp"></app-header>

<div>
<ion-card class="d-flex-center centro ">
<ion-card-header>
<ion-card-title class="text-center">formulario Login</ion-card-title>
</ion-card-header>

<ion-card-content >
<form class="ion-text-center">
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input name="email" [(ngModel)]="loginUsuario.email" ></ion-input>
  </ion-item>
  <ion-item icon="lock-closed-outline">
    <ion-label position="floating" >Password</ion-label>
    <ion-input name="password" [(ngModel)]="loginUsuario.password" type="password"></ion-input>
  </ion-item>
  <br>
<ion-button (click)="ingresar()" class="ion-margin-vertical" shape="round"> 
  Ingresar
  <ion-icon slot="end" name="log-in-outline"></ion-icon>
</ion-button>
</form>
<p class="rec">Olvidaste tu contraseña? <a href="/recuperar-contra">Recuperar</a></p>
</ion-card-content>
</ion-card>
</div>
<br>
<div class="centro  ion-text-center">
    
        <div><p>No tienes cuenta?</p></div>
        <ion-button  class="ion-margin-vertical ion-text-center " color="tertiary" shape="round"  href='/registro'>
          Registrarse
          <ion-icon slot="end" name="person-add-outline"></ion-icon>
        </ion-button>
</div>